:root {
  --bg-color: #0b1220;
  --text-main: #e5e7eb;
  --text-muted: #94a3b8;
  --accent: #38bdf8;
}
*{
    
    background-color: var(--bg-color);
}

h1{
    color: var(--text-main);
    
}

.navbar {
  position: fixed;      /* stays at top */
  top: 0;
  left: 0;
  width: 100%;          /* stretches full width */
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  background-color: #020617;
  border-bottom: 1px solid #1e293b;
  z-index: 1000;
  color: #e5e7eb;
}

.navbar a {
  color: var(--text-main);
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  color: var(--accent);
}
.profile{
margin: 0 auto;
   width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  padding: 20px;
}

.profile img {
align-content: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.PT,.About,.skill,.heading{
    text-align: center;
    
    color: var(--text-main);
}
.Sub{   
     color: var(--text-muted);   
}
.subhead{
    color: var(--text-main);
    
}
.certificate {
    
    
    display:flex ;
    flex-direction: column;
   margin: 0 auto;
   justify-content: center;
   align-items: center;
  
 
  
  
}
.certificate img{
align-content: center;

  width: 50%;
  height: 50%;
 }

  
